<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm blue save-button"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
    <button type="button" class="btn default btn-sm close-button" data-dismiss="modal">@L("Cancel")</button>
</div>